<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userBean" class="kr.or.connect.diexam01.UserBean"></bean>
<!-- 스프링 컨테이너한테 내가 생성할 객체를 대신 생성하게 하는 것, 반드시 정보를 주어야함, 이때 사용되는 element가 <bean> id="" class="" -->
<!-- kr.or.connect.diexam01.UserBean userBean = new kr.or.connect.diexam01.UserBean(); 이랑 같은 의미로 보면 된다. -->
</beans>